<app-generic-nav [componame]="componame"></app-generic-nav>
<div class="row">
   <div class="containers">
       <div class="list-group">
        <li  class="list-group-item text-center head">Select Assessmet Type</li>
        <li  class="list-group-item text-center linkhover"  routerLink='/quiz'>Quiz</li>
        <li  class="list-group-item text-center linkhover"  routerLink='/mcq'>Mcq</li>
        <li  class="list-group-item text-center linkhover"  routerLink='/project'>Project</li>
        <li  class="list-group-item text-center linkhover"  routerLink='/assignment'>Assignment</li>
      </div>
   </div>
</div>